In [1]:
import requests
import pandas as pd
import numpy as np
import pickle
from datetime import date, datetime, timedelta
import pyodbc as pyodbc
import urllib
import datetime as dt
import math
import json
import warnings
warnings.filterwarnings('ignore')

pd.set_option('display.max_rows', 20)

In [2]:
username = "Robert.Waddell@shell.com"
countries = ("AT","BE","BG","CH","CZ","DE","DK","ES","FR","GB","GR","HU","IE","IT","LU","NL","NO","PL","PT","RO","RS","SK","TR","UA")
dateStart = '2019-01-01'

In [3]:
def RequestToken():
    URL = " https://marketdata.shell.com/api/v1/api/Authentication/request"

    headers = {
    "accept": "application/json",
    "Content-Type": "application/json"
    # ,"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36 Edg/108.0.1462.42",
    # "Accept-Encoding": "*",
    # "Connection": "keep-alive"
    }

    params = {
    "username": username,
    "password": "Trayport123!"
    }

    resp = requests.post(URL, headers = headers ,data=json.dumps(params))
    tk = json.loads(resp.text)

    if resp.status_code != 200:
        print('error: ' + str(resp.status_code))
    else:
        print('token: ' + str(tk))
    print('Success')
    
    token = str(tk)
    return token

def CallGasStack(location,startDate,endDate,token):
    URL = "https://marketdata.shell.com/api/v1/api/Gas/Stack"

    headers = {
    "accept": "application/json",
    "Content-Type": "application/json",
    "Authorization": "Bearer " + token
    }

    params = {
    "startDate": startDate,
    "country": location,
    "endDate":endDate,
    "shape": "Baseload",
    "timeHorizon": "Daily",
    "forecastBaseModelId": 22,
    "forecastStartDateOffset": 0,
    "forecastModelId": 22,
    "timeZone": "CET"
    }


    resp = requests.get(URL, headers = headers ,data=json.dumps(params)).json()
    return resp

def CallSpotfireAPI(start,country,mode):
    
    string  = f"https://mkta-fst-pub-prd-eun-100-appf-gas-stack-dashboard-api.azurewebsites.net/api/gas_stack_full_vis?code=wFpHrkxzDrLg/Zku83CtFV9Yk7O9J/7hVMfZGIeciRQBo11e7dP0/g==&start={start}&country={country}&mode={mode}"
    r = requests.get(string)
    my_dict = r.json()
    return my_dict

In [4]:
#Constants required
today = date.today().strftime( "%Y-%m-%d")

todayMinusTwo = (date.today() - timedelta(days=3))
todayMinusTwo = todayMinusTwo.strftime( "%Y-%m-%d")

date_generated = pd.date_range(start = todayMinusTwo, end = today)
datesToRemove = date_generated.strftime("%Y-%m-%d").tolist()



token = RequestToken()

token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJodHRwOi8vc2NoZW1hcy54bWxzb2FwLm9yZy93cy8yMDA1LzA1L2lkZW50aXR5L2NsYWltcy9uYW1lIjoiUm9iZXJ0LldhZGRlbGxAc2hlbGwuY29tIiwiZXhwIjoxNjcyOTE4NDUzLCJpc3MiOiJ0cmF5cG9ydGRhc2hib2FyZC5henVyZXdlYnNpdGVzLm5ldCIsImF1ZCI6Ik1hcmtldERhdGFVc2VyIn0.KwZUb2PJhj5rgXMI_WvVQGAuy5tDy8a7Q80JKc9lRtA
Success

In [5]:
MDDGasStackDf = pd.DataFrame()

for i in countries:
    print(i)
    callDict = CallGasStack(i,dateStart,todayMinusTwo,token)['data']['visualDays']
    test = pd.DataFrame()
    for j in range(len(callDict)):
        
        x = callDict[j]['values']
        y = callDict[j]['date']
    
        df = pd.DataFrame.from_dict(x)
        df['Country'] = i
        df['date'] = y
        test = pd.concat([test,df])
    
    MDDGasStackDf= pd.concat([MDDGasStackDf,test])

AT
BE
BG
CH
CZ
DE
DK
ES
FR
GB
GR
HU
IE
IT
LU
NL
NO
PL
PT
RO
RS
SK
TR
UA

In [6]:
MDDGasStackDf["date"] = MDDGasStackDf["date"].str.replace("T00:00:00", "")
MDDGasStackDf.rename(columns={'value': 'Value-MDD', 'name': 'Alias','date':'Date'}, inplace=True)
MDDGasStackDf = MDDGasStackDf[['Country','Alias', 'Date','Value-MDD']]
MDDGasStackDf

   Country               Alias        Date  Value-MDD
0       AT  Storage withdrawal  2019-01-01      13.11
1       AT          Production  2019-01-01       2.31
2       AT     Imports from SK  2019-01-01      95.59
3       AT     Imports from IT  2019-01-01       0.00
4       AT     Imports from HU  2019-01-01       0.00
..     ...                 ...         ...        ...
9       UA       Exports to MD  2022-12-30      -8.32
10      UA       Exports to RO  2022-12-30       0.00
11      UA       Exports to SK  2022-12-30     -36.49
12      UA       Exports to PL  2022-12-30      -0.80
13      UA       Exports to HU  2022-12-30      -0.87

[468762 rows x 4 columns]

In [7]:
outputList = []
for i in range(len(countries)):
    
    test2 = CallSpotfireAPI("2020-01-01",countries[i],"CTY")
    print(countries[i] + ":" + str(len(test2)))
    
    outputList = outputList + test2

outputDF = pd.DataFrame(outputList)

AT:23873
BE:16927
BG:10416
CH:9322
CZ:13388
DE:81880
DK:10241
ES:17129
FR:28845
GB:9990
GR:6744
HU:16966
IE:4556
IT:25177
LU:4743
NL:28986
NO:11226
PL:21194
PT:7481
RO:9834
RS:1727
SK:16651
TR:6751
UA:16141

In [8]:
outputDF = outputDF.loc[(outputDF['forecast_or_actual'] == 'Actual')]
groupedOutputDF  = outputDF.groupby(['long_name_display','opdata_actuals_date','composite_label'])['opdata_value'].sum().reset_index(name='sum')
groupedOutputDF.rename(columns = {'long_name_display':'Country','opdata_actuals_date':'Date','composite_label':'Alias','sum':'Value-Spotfire'}, inplace=True)
groupedOutputDF = groupedOutputDF[['Country', 'Alias', 'Date','Value-Spotfire']]
groupedOutputDF = groupedOutputDF[~groupedOutputDF['Date'].isin(datesToRemove)]
groupedOutputDF

       Country                    Alias        Date  Value-Spotfire
0           AT            Exports to DE  2020-01-01           -0.12
1           AT  Exports to DE (Storage)  2020-01-01           -3.48
2           AT            Exports to HU  2020-01-01          -12.20
3           AT            Exports to IT  2020-01-01          -28.40
4           AT            Exports to SI  2020-01-01           -4.95
...        ...                      ...         ...             ...
233911      UA          Imports from HU  2022-12-30            2.98
233912      UA          Imports from MD  2022-12-30            0.93
233913      UA          Imports from RO  2022-12-30            2.29
233914      UA          Imports from RU  2022-12-30           40.47
233915      UA          Imports from SK  2022-12-30            0.38

[233389 rows x 4 columns]

In [9]:
MDDGasStackDf = MDDGasStackDf.sort_values(['Country', 'Alias','Date'])
# MDDGasStackDf.to_csv('test.csv')

In [10]:
groupedOutputDF = groupedOutputDF.sort_values(['Country', 'Alias','Date'])
groupedOutputDF

       Country               Alias        Date  Value-Spotfire
0           AT       Exports to DE  2020-01-01           -0.12
13          AT       Exports to DE  2020-01-02           -0.05
74          AT       Exports to DE  2020-01-07           -0.23
111         AT       Exports to DE  2020-01-10           -0.44
124         AT       Exports to DE  2020-01-11           -0.49
...        ...                 ...         ...             ...
232278      UA  Storage Withdrawal  2022-04-09            5.41
232286      UA  Storage Withdrawal  2022-04-10            5.42
232294      UA  Storage Withdrawal  2022-04-11            5.49
232300      UA  Storage Withdrawal  2022-04-12            5.29
232306      UA  Storage Withdrawal  2022-04-13            5.20

[233389 rows x 4 columns]

In [11]:
groupedOutputDF['Alias'] = groupedOutputDF['Alias'].str.lower()
MDDGasStackDf['Alias'] = MDDGasStackDf['Alias'].str.lower()

In [12]:

joinTestDf = pd.merge(groupedOutputDF,MDDGasStackDf, on = ['Country','Alias','Date'],how = 'inner')
joinTestDf['Value-Spotfire'] = joinTestDf['Value-Spotfire'].abs()
joinTestDf['Value-MDD'] = joinTestDf['Value-MDD'].abs()
# rounding to two at 32 decimal places differences occur
joinTestDf['Value-Spotfire'] = joinTestDf['Value-Spotfire'].round(2)
joinTestDf['Value-MDD'] = joinTestDf['Value-MDD'].round(2)
                                                        
joinTestDf['Value-Spotfire-fixed'] = np.where((joinTestDf['Value-Spotfire'].isna()) & (joinTestDf['Value-MDD'] == 0.00) ,0,joinTestDf['Value-Spotfire'])

# joinTestDf['Values Equal?'] = np.where(joinTestDf['Value-MDD']==joinTestDf['Value-Spotfire-fixed'],1,0)
joinTestDf['Values Equal?'] = np.where(abs(joinTestDf['Value-MDD']-joinTestDf['Value-Spotfire-fixed'])<0.1,1,0)

joinTestDf.sort_values(by = ['Country','Alias','Date'],axis=0,inplace=True)

In [21]:
joinTestDf.to_csv('outputHistoric3years.csv')

In [22]:
Incorrect_Aliases  = joinTestDf.groupby(['Country','Alias'])['Values Equal?'].min().reset_index(name='Check')

In [23]:
Incorrect_Aliases.to_csv('aliasGroupedhistoricData3years.csv')
Incorrect_Aliases

    Country                    Alias  Check
0        AT            exports to de      0
1        AT  exports to de (storage)      0
2        AT            exports to hu      1
3        AT            exports to it      1
4        AT            exports to si      0
..      ...                      ...    ...
257      UA          imports from sk      1
258      UA                      ldc      0
259      UA               production      1
260      UA        storage injection      0
261      UA       storage withdrawal      1

[262 rows x 3 columns]

In [16]:
finalDf = Incorrect_Aliases.groupby('Country')['Check'].agg(['sum','count'])

In [17]:
print(finalDf.to_string())

         sum  count
Country
AT         8     15
BE        11     14
BG         6     12
CH         5      7
CZ         7     10
DE        15     29
DK         6      8
ES        12     13
FR        14     15
GB         3      3
GR         2      6
HU        15     16
IE         2      2
IT        12     15
LU         2      4
NL         7     13
NO         5      5
PL        11     14
PT         7      8
RO         9     12
RS         0      2
SK        12     14
TR         1     10
UA        12     15

In [18]:
MDDGasStackDf

   Country               Alias        Date  Value-MDD
15      AT       exports to de  2019-01-01      -8.55
15      AT       exports to de  2019-01-02      -9.61
15      AT       exports to de  2019-01-03     -12.39
15      AT       exports to de  2019-01-04      -9.36
15      AT       exports to de  2019-01-05      -7.43
..     ...                 ...         ...        ...
2       UA  storage withdrawal  2022-12-26       0.00
2       UA  storage withdrawal  2022-12-27       0.00
2       UA  storage withdrawal  2022-12-28       0.00
2       UA  storage withdrawal  2022-12-29       0.00
2       UA  storage withdrawal  2022-12-30       0.00

[468762 rows x 4 columns]

In [19]:
test = joinTestDf[(joinTestDf['Country']=='DE') & (joinTestDf['Alias']=='power') & (joinTestDf['Date']=='2022-03-28') ]
test

,Country,Alias,Date,Value-Spotfire,Value-MDD,Value-Spotfire-fixed,Values Equal?
67516,DE,power,2022-03-28,22.46,22.46,22.46,1

In [20]:
# fix storage issue